---
const id = Astro.params.id;
---

<nav class="flex items-center justify-center uppercase gap-x-4 py-4">
	<ul>
		<li>
			<a class="link link-hover" href={`/posts/${id}/update`}>Edit post</a>
		</li>
	</ul>
</nav>
