---
import { type Post } from "@/lib/api/types";
import { getImgUrl, type ImageSize } from "@/lib/api/get-img-url";
import TagList from "@/components/tag-list.astro";

interface Props {
	post: Post;
	size: ImageSize;
}

const {
	post: { alt, expand, id, file, caption },
	size,
} = Astro.props;
---

<article class="flex flex-col items-center md:items-center md:text-center">
	<figure class="mb-2">
		<a href={`/posts/${id}`} aria-label={"Post"}>
			<img src={getImgUrl(id, file, size)} alt={alt} loading="lazy" />
		</a>

		{
			caption && (
				<figcaption
					class="prose mt-2 text-lg leading-tight"
					set:html={caption}
				/>
			)
		}
	</figure>

	{expand?.tags && <TagList tags={expand.tags} />}
</article>
