---
import { type Post } from "@/entities/posts";
import TimelineItem from "@/components/posts/post.astro";

interface Props {
	posts: Post[];
}

const { posts } = Astro.props;
---

<div class="flex flex-col gap-y-24 md:gap-y-32">
	{posts.map((post) => <TimelineItem isLink post={post} size="650x650f" />)}
</div>
