---
import { AstroSeo } from "@astrolib/seo";
import { pocketClient } from "@/services/pocket/pocket-client";
import PageDeleteForm from "@/components/pages/page-delete-form";
import SidebarLayout from "@/layouts/sidebar-layout.astro";

const slug = Astro.params.slug;

const page = await pocketClient
	.collection("pages")
	.getFirstListItem(`slug="${slug}"`);
---

<AstroSeo title={`Delete page | ${Astro.locals.siteSettings.TITLE}`} />

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">Delete page</span>

	<PageDeleteForm page={page} client:load />
</SidebarLayout>
