---
import { AstroSeo } from "@astrolib/seo";
import { pocketClient } from "@/services/pocket/pocket-client";
import CmsLayout from "@/layouts/cms-layout.astro";
import PageDeleteForm from "@/components/pages/page-delete-form";

const slug = Astro.params.slug;

const page = await pocketClient
	.collection("pages")
	.getFirstListItem(`slug="${slug}"`);
---

<AstroSeo title={`Delete page | ${Astro.locals.siteSettings.TITLE}`} />

<CmsLayout>
	<span slot="title">Delete page</span>

	<section class="max-w-md m-auto">
		<PageDeleteForm page={page} client:load />
	</section>
</CmsLayout>
