---
import { pocketClient } from "@/services/pocket/pocket-client";
import CmsLayout from "@/layouts/cms-layout.astro";
import PageUpdateForm from "@/components/pages/page-update-form";

const slug = Astro.params.slug;

const page = await pocketClient
	.collection("pages")
	.getFirstListItem(`slug="${slug}"`);
---

<CmsLayout>
	<span slot="title">Edit page</span>

	<section>
		<PageUpdateForm page={page} client:only />
	</section>
</CmsLayout>
