---
import { AstroSeo } from "@astrolib/seo";
import { getPageBySlug } from "@/services/db/requests/pages";
import PageUpdateForm from "@/components/pages/forms/page-update-form";
import SidebarLayout from "@/layouts/sidebar-layout.astro";

const slug = Astro.params.slug;
if (!slug) {
	return Astro.redirect("/404");
}

const page = await getPageBySlug(slug);
if (!page) {
	return Astro.redirect("/404");
}
---

<AstroSeo
	title={`Update page "${page.name}" | ${Astro.locals.siteSettings.TITLE}`}
/>

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">Update page</span>

	<PageUpdateForm page={page} client:only="react" />
</SidebarLayout>
