---
import { AstroSeo } from "@astrolib/seo";
import PageCreateForm from "@/components/pages/forms/page-create-form";
import SidebarLayout from "@/layouts/sidebar-layout.astro";
---

<AstroSeo title={`Create page | ${Astro.locals.siteSettings.TITLE}`} />

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">Create page</span>

	<PageCreateForm client:only="react" />
</SidebarLayout>
