---
import { AstroSeo } from "@astrolib/seo";
import CmsLayout from "@/layouts/cms-layout.astro";
import PageCreateForm from "@/components/pages/page-create-form";
---

<AstroSeo title={`Create page | ${Astro.locals.siteSettings.TITLE}`} />

<CmsLayout>
	<span slot="title">Create page</span>

	<section>
		<PageCreateForm client:only="react" />
	</section>
</CmsLayout>
