---
import CmsLayout from "@/layouts/cms-layout.astro";
import PageCreateForm from "@/components/pages/page-create-form";
---

<CmsLayout>
	<span slot="title">Create page</span>

	<section>
		<PageCreateForm client:only />
	</section>
</CmsLayout>
