---
import { AstroSeo } from "@astrolib/seo";
import PostCreateForm from "@/components/posts/forms/post-create-form";
import SidebarLayout from "@/layouts/sidebar-layout.astro";
---

<AstroSeo title={`Create post | ${Astro.locals.siteSettings.TITLE}`} />

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">Create post</span>

	<PostCreateForm client:load />
</SidebarLayout>
