---
import CmsLayout from "@/layouts/cms-layout.astro";
import PostCreateForm from "@/components/posts/post-create-form";
---

<CmsLayout>
	<span slot="title">Create post</span>

	<section class="max-w-sm m-auto">
		<PostCreateForm client:load />
	</section>
</CmsLayout>
