---
import LoginForm from "@/components/auth/login-form";
import SimpleLayout from "@/layouts/simple-layout.astro";
---

<SimpleLayout>
	<h1 class="sr-only">Login</h1>

	<section class="max-w-sm m-auto">
		<LoginForm client:load />
	</section>
</SimpleLayout>
