---
import SimpleLayout from "@/layouts/simple-layout.astro";

Astro.response.headers.set(
	"Set-Cookie",
	`pb_auth=; Path=/; expires=Thu, 01 Jan 1970 00:00:00 GMT;
`
);
---

<SimpleLayout>
	<meta slot="head" http-equiv="refresh" content="3;url=/" />

	<p class="text-center text-lg">You are now logged out. Redirecting...</p>
</SimpleLayout>
