---
import { pocketClient } from "@/services/pocket/pocket-client";
import CmsLayout from "@/layouts/cms-layout.astro";
import PostDeleteForm from "@/components/posts/post-delete-form";

const id = Astro.params.id;

const post = await pocketClient
	.collection("posts")
	.getFirstListItem(`id="${id}"`);
---

<CmsLayout>
	<span slot="title">Delete post</span>

	<section class="max-w-md m-auto">
		<PostDeleteForm post={post} client:load />
	</section>
</CmsLayout>
