---
import { AstroSeo } from "@astrolib/seo";
import { pocketClient } from "@/services/pocket/pocket-client";
import PostDeleteForm from "@/components/posts/forms/post-delete-form";
import SidebarLayout from "@/layouts/sidebar-layout.astro";

const id = Astro.params.id;

const post = await pocketClient
	.collection("posts")
	.getFirstListItem(`id="${id}"`);
---

<AstroSeo title={`Delete post | ${Astro.locals.siteSettings.TITLE}`} />

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">Delete post</span>

	<PostDeleteForm post={post} client:load />
</SidebarLayout>
