---
import { AstroSeo } from "@astrolib/seo";
import { getPostById } from "@/services/db/requests/posts/get";
import PostUpdateForm from "@/components/posts/forms/post-update-form";
import SidebarLayout from "@/layouts/sidebar-layout.astro";

const id = Astro.params.id;
if (!id) {
	return Astro.redirect("/404");
}

const post = await getPostById(id);
if (!post) {
	return Astro.redirect("/404");
}
---

<AstroSeo title={`Update post | ${Astro.locals.siteSettings.TITLE}`} />

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">Update post</span>

	<PostUpdateForm client:load post={post} />
</SidebarLayout>
