---
import { AstroSeo } from "@astrolib/seo";
import { pocketClient } from "@/services/pocket/pocket-client";
import PostUpdateForm from "@/components/posts/forms/post-update-form";
import SidebarLayout from "@/layouts/sidebar-layout.astro";

const id = Astro.params.id;

const post = await pocketClient
	.collection("posts")
	.getFirstListItem(`id="${id}"`, {
		expand: "tags",
	});
---

<AstroSeo title={`Update post | ${Astro.locals.siteSettings.TITLE}`} />

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">Update post</span>

	<PostUpdateForm client:load post={post} />
</SidebarLayout>
