@tailwind base;

@layer base {
	:root {
		--primary: 0deg 0% 0%;
		--primary-background: 0deg 0% 100%;
		--accent: 0deg 0% 100%;
		--accent-background: 0deg 0% 0%;
		--muted: 0deg 0% 50%;
		--muted-background: 0deg 0% 100%;
	}

	.dark {
		--primary: 0deg 0% 100%;
		--primary-background: 0deg 0% 0%;
		--accent: 198deg 93% 60%;
		--accent-background: 0deg 0% 100%;
		--muted: 0deg 0% 50%;
		--muted-background: 0deg 0% 100%;
	}
}
