@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Bebas Neue';
		src: url('/fonts/bebas-neue-latin-400-normal.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-display: block;
	}

	@font-face {
		font-family: 'Lato';
		src: url('/fonts/lato-latin-ext-400-normal.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-display: block;
	}

	@font-face {
		font-family: 'Lato';
		src: url('/fonts/lato-latin-ext-700-normal.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-display: block;
	}

	:root {
		--primary: 0deg 0% 0%;
		--primary-background: 0deg 0% 100%;
		--accent: 0deg 0% 100%;
		--accent-background: 0deg 0% 0%;
		--muted: 0deg 0% 40%;
		--muted-background: 0deg 0% 92%;
	}

	.dark {
		--primary: 0deg 0% 100%;
		--primary-background: 0deg 0% 0%;
		--accent: 198deg 93% 60%;
		--accent-background: 0deg 0% 100%;
		--muted: 0deg 0% 50%;
		--muted-background: 0deg 0% 100%;
	}
}
