---
import { apiClient } from "@/lib/api/api-client";
import CmsLayout from "@/layouts/cms-layout.astro";
import PostDeleteForm from "@/components/posts/post-delete-form";

const id = Astro.params.id;

const post = await apiClient.collection("posts").getFirstListItem(`id="${id}"`);
---

<CmsLayout>
	<h1 aria-label="Delete post"></h1>

	<section class="max-w-md m-auto">
		<PostDeleteForm post={post} client:load />
	</section>
</CmsLayout>
