---
import { pocketClient } from "@/services/pocket/pocket-client";
import CmsLayout from "@/layouts/cms-layout.astro";
import PostUpdateForm from "@/components/posts/post-update-form";

const id = Astro.params.id;

const post = await pocketClient
	.collection("posts")
	.getFirstListItem(`id="${id}"`, {
		expand: "tags",
	});
---

<CmsLayout>
	<h1 aria-label="Edit post"></h1>

	<section class="max-w-sm m-auto">
		<PostUpdateForm client:load post={post} />
	</section>
</CmsLayout>
