---
import { AstroSeo } from "@astrolib/seo";
import SimpleLayout from "@/layouts/simple-layout.astro";
import { captureException } from "@sentry/astro";

interface Props {
	error: unknown;
}

const { error } = Astro.props;

captureException(error);
---

<AstroSeo
	title={`500 Error| ${Astro.locals.siteSettings.TITLE}`}
	description="Something went wrong."
/>

<SimpleLayout title="500">
	<p class="font-normal">
		Something went wrong in the darkroom! Our site’s having a moment, but we’re
		working to develop a solution.
	</p>

	<a href="/" class="btn mt-6">Go back to the home page</a>
</SimpleLayout>
