---
import { AstroSeo } from "@astrolib/seo";
import { pocketClient } from "@/services/pocket/pocket-client";
import ExploreSection from "@/components/explore/explore-section";
import SidebarLayout from "@/layouts/sidebar-layout.astro";

const { siteSettings } = Astro.locals;

const tags = await pocketClient.collection("tags_with_posts").getFullList({
	sort: "-post_count",
});
const years = await pocketClient.collection("posts_per_year").getFullList({
	sort: "-year",
});

const nonEmptyTags = tags.filter((tag) => tag.post_count && tag.post_count > 0);
---

<AstroSeo
	title={`Explore | ${siteSettings.TITLE}`}
	description="Explore the blog by tags, years, places, countries, and cameras."
/>

<SidebarLayout>
	<span slot="collection-title">Explore</span>

	<ExploreSection tags={nonEmptyTags} years={years} />
</SidebarLayout>
