---
import { AstroSeo } from "@astrolib/seo";
import { getTagsWithPosts } from "@/services/db/requests/tags";
import { getYearlyPostCount } from "@/services/db/requests/posts/get";
import ExploreSection from "@/components/explore/explore-section";
import SidebarLayout from "@/layouts/sidebar-layout.astro";

const { siteSettings } = Astro.locals;

const nonEmptyTags = await getTagsWithPosts();
const years = await getYearlyPostCount();
---

<AstroSeo
	title={`Explore | ${siteSettings.TITLE}`}
	description="Explore the blog by tags, years, places, countries, and cameras."
/>

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">Explore</span>

	<ExploreSection tags={nonEmptyTags} years={years} />
</SidebarLayout>
