---
import AppMenuLink from "@/components/base/app-menu-link.astro";
import type { Page } from "@prisma/client";

interface Props {
	pages: Page[];
}

const { user } = Astro.locals;
const pages = Astro.props.pages;
---

<ul class="menu gap-1">
	<li>
		<AppMenuLink href="/">Home</AppMenuLink>
	</li>

	<li>
		<AppMenuLink href="/explore">Explore</AppMenuLink>
	</li>

	{
		pages.map((page) => (
			<li>
				<AppMenuLink href={`/pages/${page.slug}`}>
					<span class="capitalize">{page.name}</span>
				</AppMenuLink>
			</li>
		))
	}
</ul>

<ul class="menu gap-1">
	{
		!!user && (
				<li>
					<h2 class="menu-title">
						Create
					</h2>

					<ul>
						<AppMenuLink href="/cms/posts/create">Post</AppMenuLink>
						<AppMenuLink href="/cms/pages/create">Page</AppMenuLink>
					</ul>
				</li>

				<li>
					<h3 class="menu-title">
						Manage
					</h3>

					<ul>
						<AppMenuLink href="/cms/posts">Posts</AppMenuLink>
						<AppMenuLink href="/cms/tags">Tags</AppMenuLink>
						<AppMenuLink href="/cms/settings">Settings</AppMenuLink>
					</ul>
				</li>
		)
	}

	{
		!user && import.meta.env.DEV && (
			<AppMenuLink href="/auth/login">
				Login
			</AppMenuLink>
		)
	}

	{
		!!user && (
			<li>
				<form method="post" action="/api/auth/logout">
					<button type="submit">Logout</button>
				</form>
			</li>
		)
	}
</ul>
