---
interface Props {
	highlight?: boolean;
	href: string;
	prefetch?: boolean;
}

const { highlight, href } = Astro.props;
const isActive = Astro.url.pathname === href;
---

<li>
	<a
		class:list={["uppercase", { active: isActive, "font-bold": highlight }]}
		href={href}
	>
		<slot />
	</a>
</li>
