<footer class="text-xs text-muted flex flex-col justify-end text-center mb-4">
	<span>&copy; 2010-{new Date().getFullYear()} planet34.org</span>

	<span class="block">
		Running on{" "}
		<a
			class="link link-hover"
			href="https://github.com/treipatru/pocket-photo-log"
		>
			Pocket Photo Log
		</a>
	</span>
</footer>
