---
import HeaderLink from "@/components/header/header-link.astro";
import { Database, Plus, User } from "lucide-react";
---

<div class="dropdown dropdown-bottom dropdown-end dropdown-hover">
	<div tabindex="0" role="button" class="btn btn-sm">Admin</div>
	<ul
		class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow normal-case gap-y-1"
	>
		<li>
			<h2 class="menu-title flex items-center">
				<Plus className="mr-2" size="16" />
				Create
			</h2>
			<ul>
				<HeaderLink href="/cms/pages/create" label="Page" />
				<HeaderLink href="/cms/posts/create" label="Post" />
			</ul>
		</li>

		<li>
			<h2 class="menu-title flex items-center">
				<Database className="mr-2" size="16" />
				Manage
			</h2>
			<ul>
				<HeaderLink href="/cms/posts" label="Posts" />
				<HeaderLink href="/cms/tags" label="Tags" />
				<HeaderLink href="/cms/settings" label="Settings" />
			</ul>
		</li>

		<li>
			<h2 class="menu-title flex items-center">
				<User className="mr-2" size="16" />
				User
			</h2>
			<ul>
				<HeaderLink href="/auth/logout" label="Logout" prefetch={false} />
			</ul>
		</li>
	</ul>
</div>
