---
interface Props {
	href: string;
	label: string;
}

const { href, label } = Astro.props;
const isActive = Astro.url.pathname === href;
---

<li>
	<a class:list={[{ active: isActive }]} href={href}>{label}</a>
</li>
