---
import { pocketClient } from "@/services/pocket/pocket-client";
import HeaderLink from "@/components/header/header-link.astro";
import AdminMenu from "@/components/header/admin-menu.astro";

const { isAuthenticated } = Astro.locals;
const displayLogin = !isAuthenticated && import.meta.env.DEV;

const articles = await pocketClient.collection("pages").getFullList({
	sort: "name",
});
---

<header class="flex flex-row items-center justify-center">
	<nav
		class="menu menu-sm menu-horizontal rounded-box uppercase flex items-center gap-x-4"
	>
		<HeaderLink href="/" label="Home" />

		<HeaderLink href="/explore" label="Explore" />

		{
			articles.map((article) => (
				<HeaderLink href={`/pages/${article.slug}`} label={article.name} />
			))
		}

		{displayLogin && <HeaderLink href="/auth/login" label="Login" />}

		{isAuthenticated && <AdminMenu />}
	</nav>
</header>
