---
import HeaderLink from "./HeaderLink.astro";
import { pb } from "../lib/pb";

const articles = await pb.collection("pages").getFullList({
	sort: "title",
});
---

<header class="">
	<nav class="flex items-center justify-center uppercase gap-x-4 py-4">
		<HeaderLink href="/">home</HeaderLink>
		{
			articles.map((article) => (
				<HeaderLink href={`/pages/${article.slug}`}>{article.name}</HeaderLink>
			))
		}
	</nav>
</header>
