---
import { AstroSeo } from "@astrolib/seo";
import CmsLayout from "@/layouts/cms-layout.astro";
import SettingsUpdateForm from "@/components/settings/settings-update-form";

const { siteSettings } = Astro.locals;
---

<AstroSeo title={`Site settings | ${Astro.locals.siteSettings.TITLE}`} />

<CmsLayout>
	<span slot="title">Settings</span>

	<SettingsUpdateForm settings={siteSettings} client:load />
</CmsLayout>
