---
import { AstroSeo } from "@astrolib/seo";
import SettingsUpdateForm from "@/components/settings/settings-update-form";
import SidebarLayout from "@/layouts/sidebar-layout.astro";

const { siteSettings } = Astro.locals;
---

<AstroSeo title={`Site settings | ${Astro.locals.siteSettings.TITLE}`} />

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">Settings</span>

	<SettingsUpdateForm settings={siteSettings} client:load />
</SidebarLayout>
