---
import { AstroSeo } from "@astrolib/seo";
import { getBackups } from "@/services/db/requests/backups";
import SettingsPanel from "@/components/settings/settings-panel";
import SidebarLayout from "@/layouts/sidebar-layout.astro";

const { siteSettings } = Astro.locals;

const backups = await getBackups();
---

<AstroSeo title={`Site settings | ${Astro.locals.siteSettings.TITLE}`} />

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">Settings</span>

	<SettingsPanel backups={backups} client:load settings={siteSettings} />
</SidebarLayout>
