---
import { AstroSeo } from "@astrolib/seo";
import SidebarLayout from "@/layouts/sidebar-layout.astro";
import TablePagination from "@/components/ui/table-pagination.astro";
import TagCmsManager from "@/components/tags/tag-cms-manager/tag-cms-manager";
import { getPaginatedTags } from "@/services/db/requests/tags";

const page = parseInt(Astro.url.searchParams.get("page") || "1");
const query = Astro.url.searchParams.get("query") || "";

const tags = await getPaginatedTags({ page, perPage: 20, query });

const { items, pagination } = tags;
---

<AstroSeo title={`Tags | ${Astro.locals.siteSettings.TITLE}`} />

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">Tags</span>

	<div class="flex flex-col gap-4">
		<TagCmsManager tags={items} initialQuery={query} client:load />

		{
			pagination.totalPages > 1 && (
				<TablePagination {...pagination} url="/cms/tags" />
			)
		}
	</div>
</SidebarLayout>
