---
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Header from "@/components/header/header.astro";

interface Props {
	showFooter?: boolean;
	showHeader?: boolean;
}

const { showFooter = false, showHeader = false } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en" data-theme="lofi">
	<head>
		<!-- Global Metadata -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL} />

		<slot name="head" />

		<ViewTransitions />
	</head>

	<body class="bg-primary-background text-primary font-body font-medium pb-14">
		{showHeader && <Header />}

		<slot />

		{
			showFooter && (
				<footer class="text-center pt-14 pb-2 text-xs text-muted">
					<span>&copy; 2010-{new Date().getFullYear()} planet34.org</span>

					<span class="block">
						Running on{" "}
						<a
							class="link link-hover"
							href="https://github.com/treipatru/pocket-photo-log"
						>
							Pocket Photo Log
						</a>
					</span>
				</footer>
			)
		}
	</body>
</html>
