---
import BaseLayout from "./base-layout.astro";
---

<BaseLayout showHeader>
	<main class="px-4 container max-w-screen-lg">
		<h1
			class="py-3 mt-2 mb-8 text-2xl text-center bg-accent-background text-accent"
		>
			<slot name="title" />
		</h1>

		<slot />
	</main>
</BaseLayout>
