---
import BaseLayout from "@/layouts/base-layout.astro";
---

<BaseLayout showFooter showHeader>
	<slot name="hero" />

	<main class="flex px-4 container max-w-5xl">
		<slot />
	</main>
</BaseLayout>
