---
import "@/styles/global.css";
import Head from "@/components/base/head.astro";
---

<!doctype html>
<html lang="en" data-theme="lofi">
	<Head />

	<body class="bg-primary-background text-primary font-body font-medium pb-14">
		<main class="px-4 mt-8 md:mt-32 container max-w-screen-sm">
			<slot />
		</main>
	</body>
</html>
