---
interface Props {
	label: string;
	name: string;
	required?: boolean;
}
const { label, name, required } = Astro.props;
---

<div class="form-control">
	<label class="label cursor-pointer">
		<span class="label-text">{label}</span>

		<input
			checked="checked"
			class="toggle"
			name={name}
			required={required}
			type="checkbox"
		/>
	</label>
</div>
